.img1{
    position: absolute;
    z-index: 2;
    width: 25%;
    height: 60%;
    top: 40%;
    left: 22%;
}
.img2{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 15%;
}

#var1{
    position: absolute;
    top: 100px;
    left: 150px;
}
#var2{
    position: absolute;
    right: 100px;
}
#var3{
    position: absolute;
    top: 120%;
    left: 10%;
}
#var6{
    position: absolute;
    top: 143%;
    right: 15%;

}
body{
    background-color: thistle;
}
#heading{
    /*font-family: 'Marcellus SC', serif;*/
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin-block-end: 0;
    
}
#spl{
    font-family: 'Khand', sans-serif;
}
.head{
    z-index: 4;
     margin: 15% auto 0 auto;

}
h2{
    color: white;
    z-index: 3;
}
.obi{
    position: absolute;
}
.bg{
    position: absolute;
}
  /* Bottom left text */

.space{
    position: relative;
    width: 100% ;
    height: 60%;
}
h2{
    padding-top: 50px;
}
#h1{
    background-color: none !important;
    border:none !important;
    border-top: 5px dotted palevioletred !important;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    width: 10%;
}
#h2{
    background-color: none !important;
    border:none !important;
    border-top: 10px dotted white !important;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    padding-left: 45%;
    width: 10px;
    display: inline-block;
}
.c{
    margin-top: 2%;
    padding-left: 25%;
    width: 50%;
    text-align: center;
}
.con {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
.end{
    height: 7.5%;
    background-color: darkslateblue;

}
  b{
    color: rebeccapurple;
  }
  .text {
    padding-left: 0;
  }
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
span{
    padding-right: 2%;
}
a:hover{
    color: lightpink;
}
.insta{
    display: inline-block;
    padding-right: 20px;
}
.fb{
    display: inline-block;
}
/* Contact Me */
.CH{
    background-color:darkslateblue;
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
}
.main{
    margin-left: 2%;
    text-align: left;
}
#HEAD{
    color: white;
}
.form{
    margin-left: 2%;
    text-align: left;
}
.spa{
    width: 100%;
}
.btn {
    background: #9c34d9;
    background-image: -webkit-linear-gradient(top, #9c34d9, #d934ce);
    background-image: -moz-linear-gradient(top, #9c34d9, #d934ce);
    background-image: -ms-linear-gradient(top, #9c34d9, #d934ce);
    background-image: -o-linear-gradient(top, #9c34d9, #d934ce);
    background-image: linear-gradient(to bottom, #9c34d9, #d934ce);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #ff38ff;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.im{
    height: 20%;
    width: 10%;
    left: 0;
    float: left;
    margin-right: 10%;
}
.ik{
    height: 50%;
    width: 15%;
    left: 0;
    float: left;
    margin-right: 15%;
}
.in{
    height: 25%;
    width: 10%;
    float: right;

}